.game-rule{
  position: absolute;
  top: 0;
  background-image: url(../images/game-rule-modal.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgb(59 58 58 / 31%);
  width: 100%;
  height: 100%;
  .close-game-rule{
    width: 110px;
    height: 48px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 81%;
  }
}