@font-face {
  font-family: numberFormat;
  src: url(../../assets/font/pocket_calcuatlor_ot.otf),
    url(../../assets/font/pocket_calcuatlor_tt.ttf) format("truetype");
}
@keyframes runanime {
  from {opacity: 1;}
  to {opacity: 0;}
}
.machine-main {
  position: relative;
  .score-container {
    position: relative;
    height: 99px;
    display: flex;
    color: #f3866a;
    font-size: 31px;
    line-height: 40px;
    font-family: numberFormat;
    letter-spacing: 2px;
    .score-item {
      background-size: 74%;
      background-position: center 14px;
      background-repeat: no-repeat;
      flex: 1;
      position: relative;
      &.reward-score {
        background-image: url(../../assets/images/reward-score.png);
      }
      &.owned-score {
        background-image: url(../../assets/images/owned-score.png);
      }
      .score-text {
        position: absolute;
        bottom: 0px;
        right: 27px;
      }
    }
  }
  .game-panel {
    position: relative;
    height: 344px;
    .bet-list {
      position: absolute;
      top: 10px;
      left: 22px;
      height: 330px;
      width: 330px;
      background-image: url(../../assets/images/bet-item-bg.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      li {
        position: absolute;
        width: 46px;
        height: 46px;
        background-size: 100% 100%;
        // box-shadow: inset 0 0 10px #000;
        border: 1px solid #000;
        &.light-on::after {
          content: "";
          position: absolute;
          top: -3px;
          left: -4px;
          width: 55px;
          height: 55px;
          z-index: 1;
          background-image: url(../../assets/images/bet-item-light.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          animation: runanime .3s linear;
        }
        &.bet-item1 {
          top: 3px;
          left: 4px;
        }
        &.bet-item2 {
          top: 3px;
          left: 50px;
        }
        &.bet-item3 {
          top: 3px;
          left: 96px;
        }
        &.bet-item4 {
          top: 3px;
          left: 142px;
        }
        &.bet-item5 {
          top: 3px;
          left: 188px;
        }
        &.bet-item6 {
          top: 3px;
          left: 234px;
        }
        &.bet-item7 {
          top: 3px;
          left: 280px;
        }
        &.bet-item8 {
          top: 49px;
          left: 280px;
        }
        &.bet-item9 {
          top: 95px;
          left: 280px;
        }
        &.bet-item10 {
          top: 141px;
          left: 280px;
        }
        &.bet-item11 {
          top: 187px;
          left: 279px;
        }
        &.bet-item12 {
          top: 233px;
          left: 280px;
        }
        &.bet-item13 {
          top: 279px;
          left: 280px;
        }
        &.bet-item14 {
          top: 279px;
          left: 234px;
        }
        &.bet-item15 {
          top: 279px;
          left: 188px;
        }
        &.bet-item16 {
          top: 279px;
          left: 142px;
        }
        &.bet-item17 {
          top: 279px;
          left: 96px;
        }
        &.bet-item18 {
          top: 279px;
          left: 50px;
        }
        &.bet-item19 {
          top: 279px;
          left: 4px;
        }
        &.bet-item20 {
          top: 233px;
          left: 4px;
        }
        &.bet-item21 {
          top: 187px;
          left: 4px;
        }
        &.bet-item22 {
          top: 141px;
          left: 4px;
        }
        &.bet-item23 {
          top: 95px;
          left: 4px;
        }
        &.bet-item24 {
          top: 49px;
          left: 4px;
        }
      }
    }
    .big-item-image{
      position: absolute;
      top: 54px;
      left: 65px;
      width: 242px;
      height: 242px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .big-or-small{
      position: absolute;
      bottom: 80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-image: url(../../assets/images/big-or-small-bg.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 137px;
      height: 34px;
      .big-or-small-number{
        color: #f3866a;
        font-size: 33px;
        line-height: 2.3125rem;
        font-family: numberFormat;
        text-align: right;
        position: absolute;
        right: 2.725rem;
        letter-spacing: 5px;
      }

      .big-or-small-lighton{
        width: 26px;
        height: 23px;
        position: absolute;
        top: 7px;
        margin: 0 auto;
        background-image: url(../../assets/images/big-or-small-on.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.left{
          left: 16px;
        }
        &.right{
          right: 16px;
        }
      }
    }
  }
  .bet-active-buttons {
    position: relative;
    height: 52px;
    .button-circle {
      // background-size: 100% 100%;
      background-image: url(../../assets/images/action-buttons.png);
      background-size: 500%;
      background-repeat: no-repeat;
      width: 70px;
      height: 60px;
      position: absolute;
      display: inline-block;
      &.reset-button{
        top: 0;
        left: 0;
        background-position: -183px -7px;
        &:active {
          background-position: -183px -81px;
        }
        &.auto-launching-lock {
          &:active {
            background-position: -183px -7px;
          }
        }
      }
      &.small-button {
        top: 0;
        left: 57px;
        background-position: 0px -167px;
        &:active {
          background-position: -83px -167px;
        }
        &.btn-on{
          background-position: -83px -167px;
        }
        &.auto-launching-lock {
          &:active {
            background-position: 0px -167px;
          }
        }
      }
      &.big-button {
        top: 0;
        left: 115px;
        background-position: 0 -93px;
        &:active {
          background-position: -83px -93px;
        }
        &.btn-on{
          background-position: -83px -93px;
        }
        &.auto-launching-lock {
          &:active {
            background-position: 0px -93px;
          }
        }
      }
      &.auto-button {
        top: 0;
        right: 61px;
        background-position: -166px -170px;
        &.auto-button-lock{
          background-position: -266px -10px;
        }
        &:active {
          background-position: -266px -10pxx;
        }
      }
      &.start-button {
        top: 0;
        right: 4px;
        background-position: -268px -84px;
        &:active {
          background-position: -268px -158px;
        }
        &.btn-on{
          background-position: -268px -158px;
        }
        &.auto-launching-lock {
          &:active {
            background-position: -268px -84px;
          }
        }
      }
    }
    .button-rectangle {
      position: absolute;
      top: -7px;
      right: 100px;
      background-image: url(../../assets/images/action-buttons.png);
      background-size: 394%;
      background-position: -10px -5px;
      background-repeat: no-repeat;
      width: 89.5px;
      height: 77px;
      display: inline-block;
      &:active {
        background-position: -103px -5px;
      }
      &.btn-on {
        background-position: -103px -5px;
      }
      &.auto-launching-lock {
        &:active {
          background-position: -10px -5px;
        }
      }
    }
  }
  .number-of-bet {
    height: 42px;
    color: #f3866a;
    font-size: 26px;
    line-height: 37px;
    font-family: numberFormat;
    .number-count-item {
      background-image: url(/src/assets/images/bet-count-bg.png);
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      width: 45.8px;
      height: 38px;
      letter-spacing: 1px;
      display: inline-block;
      text-align: right;
      padding-right: 3px;
    }
  }
  .bet-buttons {
    height: 62px;
    position: relative;
    overflow: hidden;
    .bet-button-item {
      background-size: 100% 100%;
      width: 46px;
      height: 48px;
      display: inline-block;
      position: absolute;
      &.bet-button-item1 {
        width: 59px;
        height: 74px;
        top: -7px;
        left: 0;
        background-image: url(/src/assets/images/bet-buttons/button1.png);
      }
      &.bet-button-item2 {
        width: 62.5px;
        height: 74px;
        top: -7px;
        left: 39px;
        background-image: url(/src/assets/images/bet-buttons/button2.png);
      }
      &.bet-button-item3 {
        width: 56.5px;
        height: 66px;
        top: 2px;
        left: 87px;
        background-image: url(/src/assets/images/bet-buttons/button3.png);
      }
      &.bet-button-item4 {
        width: 56.5px;
        height: 66px;
        top: 2px;
        left: 132px;
        background-image: url(/src/assets/images/bet-buttons/button4.png);
      }
      &.bet-button-item5 {
        width: 56.5px;
        height: 66px;
        top: 2px;
        right: 140px;
        background-image: url(/src/assets/images/bet-buttons/button5.png);
      }
      &.bet-button-item6 {
        width: 56.5px;
        height: 66px;
        top: 2px;
        right: 95px;
        background-image: url(/src/assets/images/bet-buttons/button6.png);
      }
      &.bet-button-item7 {
        width: 62.5px;
        height: 74px;
        top: -7px;
        right: 44px;
        background-image: url(/src/assets/images/bet-buttons/button7.png);
      }
      &.bet-button-item8 {
        width: 62.5px;
        height: 75px;
        top: -7px;
        right: 0;
        background-image: url(/src/assets/images/bet-buttons/button8.png);
      }
    }
  }
}
